html, body {
	height: 100%;
}
div.table{
  display: table;
}
FORM.tr,
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
    width: 10vw;
    height: 60px;
    text-align: center;
}
